* {
  background-color: #191f36;
  color: #7481aa;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

.body {
  margin: 0 100px;
}

.main {
  display: flex;
  flex-direction: row;
}

.main__menu {
  /* background-color: #1b223d; */
}

.main__heading {
  margin: 15px 0;
}

.content__title {
  margin: 30px;
  background-color: #191f36;
}

.main__othercities {
  width: 300px;
}
.content__differntIndexes {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}
.one {
  display: flex;
}

.main__content {
  margin: 30px;
}

.othercities__dataPic {
  height: 250px;
  width: 250px;
}

.main__othercities {
  width: 180px;
  margin: 30px;
}

.news__content {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.current {
  color: #f1f3f8;
}

@media (max-width: 1024px) {
  .main {
    display: block;
  }
  .content__differntIndexes {
    padding-top: 40px;
    display: none;
  }

  .body {
    margin: 0;
  }
  .graph {
    width: 100%;
  }
  .main__othercities {
    width: 100%;
  }
  .menu__content {
    display: flex;
    background-color: #191f36;
    width: 100%;
  }
  .content__title {
    margin: auto;
  }
  .heading {
    margin: 10px;
  }
  .main__othercities {
    margin-top: 30px;
  }
  .othercities__content {
    margin-top: 20px;
  }
  .news__content {
    width: 90%;
  }
}
